[submodule "roles/nginx"]
	path = roles/nginx
	url = https://github.com/yannanlu/role-nginx.git
[submodule "roles/apache"]
	path = roles/apache
	url = https://github.com/yannanlu/role-apache.git
[submodule "roles/ec2_launcher"]
	path = roles/ec2_launcher
	url = https://github.com/yannanlu/role-ec2_launcher.git
[submodule "roles/common"]
	path = roles/common
	url = https://github.com/yannanlu/role-common.git
[submodule "roles/java"]
	path = roles/java
	url = https://github.com/yannanlu/role-java.git
[submodule "roles/monit"]
	path = roles/monit
	url = https://github.com/yannanlu/role-monit.git
[submodule "roles/activemq"]
	path = roles/activemq
	url = https://github.com/yannanlu/role-activemq.git
[submodule "roles/qbroker"]
	path = roles/qbroker
	url = https://github.com/yannanlu/role-qbroker.git
[submodule "roles/mbservice"]
	path = roles/mbservice
	url = https://github.com/yannanlu/role-mbservice.git
[submodule "roles/idservice"]
	path = roles/idservice
	url = https://github.com/yannanlu/role-idservice.git
[submodule "roles/mysql"]
	path = roles/mysql
	url = https://github.com/yannanlu/role-mysql.git
[submodule "roles/postgresql"]
	path = roles/postgresql
	url = https://github.com/yannanlu/role-postgresql.git
[submodule "roles/redis"]
	path = roles/redis
	url = https://github.com/yannanlu/role-redis.git
[submodule "roles/tomcat"]
	path = roles/tomcat
	url = https://github.com/yannanlu/role-tomcat.git
[submodule "roles/mongodb"]
	path = roles/mongodb
	url = https://github.com/yannanlu/role-mongodb.git
[submodule "roles/influxdb"]
	path = roles/influxdb
	url = https://github.com/yannanlu/role-influxdb.git
[submodule "roles/cassandra"]
	path = roles/cassandra
	url = https://github.com/yannanlu/role-cassandra.git
[submodule "roles/elasticsearch"]
	path = roles/elasticsearch
	url = https://github.com/yannanlu/role-elasticsearch.git
[submodule "roles/eventflow"]
	path = roles/eventflow
	url = https://github.com/yannanlu/role-eventflow.git
[submodule "roles/statsflow"]
	path = roles/statsflow
	url = https://github.com/yannanlu/role-statsflow.git
[submodule "roles/dummy"]
	path = roles/dummy
	url = https://github.com/yannanlu/role-dummy.git
[submodule "roles/amazonmq"]
	path = roles/amazonmq
	url = https://github.com/yannanlu/role-amazonmq.git
[submodule "roles/MonitorAgent"]
	path = roles/MonitorAgent
	url = https://github.com/yannanlu/role-MonitorAgent.git
