{
  "Name": "pstr_msg",
  "LinkName": "MSG_OUT",
  "ClassName": "org.qbroker.persister.JMSPersister",
  "ContextFactory": "{{flow_context_factory}}",
  "URI": "{{flow_mq_url}}",
  "ConnectionFactoryName": "{{flow_qcf}}",
  "QueueName": "{{flow_queue}}",
  "Principal": "{{flow_mq_user}}",
  "Credentials": "{{flow_mq_passwd}}",
  "IsPhysical": "true",
  "Operation": "put",
  "DisplayMask": "2",
  "Persistence": "2",
  "StringProperty": {
    "path": "",
    "size": ""
  }
}
