{
  "Name": "pstr_msg",
  "LinkName": "MSG_OUT",
  "ClassName": "org.qbroker.persister.JMSPersister",
  "ContextFactory": "{{mbservice_context_factory}}",
  "URI": "{{mbservice_mq_url}}",
  "ConnectionFactoryName": "{{mbservice_qcf}}",
  "QueueName": "{{mbservice_queue}}",
  "Principal": "{{mbservice_mq_user}}",
  "Credentials": "{{mbservice_mq_passwd}}",
  "IsPhysical": "true",
  "Operation": "put",
  "DisplayMask": "2",
  "Persistence": "2",
  "StringProperty": {
    "path": "",
    "size": ""
  }
}
